.Container{
    width: 95%;
    height: 89.8vh;
    background-image: url("https://m.media-amazon.com/images/I/91sH61awvPL.png");
    background-size: cover;
    padding-top: 5%;
    padding-left: 5%;
}
h1{
    font-style: italic;
    margin:0;
    padding:0;
}
.innerBox{
    color: ghostwhite;
    width: 40vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    padding: 5%;
    text-align: center;
}

.innerBox form input{
    padding-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: 25%;
    border-radius: 10px;
    border: 0;
    width: 20vw;
    height: 5vh;
}
.innerBox form button{
    width: 10vw;
    height: 5vh;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
}
.innerBox form button:hover{
    cursor: pointer;
    background-color: rgb(8, 165, 8);
}
.innerBox form p:hover{
    color: red;
    cursor: pointer;
}
.spinner img{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 100%;
}
.spinner {
    position: absolute;
    right: 50%;
    top:0;
    
}